src/webclient/LambdaWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lambda" xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://lambda" xmlns:intf="http://lambda" xmlns:tns1="http://models.persistance"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://xml.apache.org/xml-soap ">
    <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://lambda" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://models.persistance"/>
            <element name="username" type="xsd:string"/>
            <element name="logoutUserReturn">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="username1" type="xsd:string"/>
            <element name="userType" type="xsd:string"/>
            <element name="password" type="xsd:string"/>
            <complexType name="ArrayOf_xsd_anyType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>
            <element name="services" type="impl:ArrayOf_xsd_anyType"/>
            <element name="loginUserReturn" type="xsd:boolean"/>
            <element name="username2" type="xsd:string"/>
            <complexType name="ArrayOf_tns1_SimpleUser">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:SimpleUser"/>
                </sequence>
            </complexType>
            <element name="relevantUsersReturn">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:SimpleUser"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema elementFormDefault="qualified" targetNamespace="http://models.persistance"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://lambda"/>
            <complexType name="SimpleUser">
                <sequence>
                    <element name="name" nillable="true" type="xsd:string"/>
                    <element name="serviceNames" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="relevantUsersRequest">

        <wsdl:part element="impl:username2" name="username"/>

    </wsdl:message>

    <wsdl:message name="logoutUserRequest">

        <wsdl:part element="impl:username" name="username"/>

    </wsdl:message>

    <wsdl:message name="loginUserResponse">

        <wsdl:part element="impl:loginUserReturn" name="loginUserReturn"/>

    </wsdl:message>

    <wsdl:message name="logoutUserResponse">

        <wsdl:part element="impl:logoutUserReturn" name="logoutUserReturn"/>

    </wsdl:message>

    <wsdl:message name="relevantUsersResponse">

        <wsdl:part element="impl:relevantUsersReturn" name="relevantUsersReturn"/>

    </wsdl:message>

    <wsdl:message name="loginUserRequest">

        <wsdl:part element="impl:username1" name="username"/>

        <wsdl:part element="impl:userType" name="userType"/>

        <wsdl:part element="impl:password" name="password"/>

        <wsdl:part element="impl:services" name="services"/>

    </wsdl:message>

    <wsdl:portType name="LambdaWebService">

        <wsdl:operation name="logoutUser" parameterOrder="username">

            <wsdl:input message="impl:logoutUserRequest" name="logoutUserRequest"/>

            <wsdl:output message="impl:logoutUserResponse" name="logoutUserResponse"/>

        </wsdl:operation>

        <wsdl:operation name="loginUser" parameterOrder="username userType password services">

            <wsdl:input message="impl:loginUserRequest" name="loginUserRequest"/>

            <wsdl:output message="impl:loginUserResponse" name="loginUserResponse"/>

        </wsdl:operation>

        <wsdl:operation name="relevantUsers" parameterOrder="username">

            <wsdl:input message="impl:relevantUsersRequest" name="relevantUsersRequest"/>

            <wsdl:output message="impl:relevantUsersResponse" name="relevantUsersResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="LambdaWebServiceSoapBinding" type="impl:LambdaWebService">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="logoutUser">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="logoutUserRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="logoutUserResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="loginUser">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="loginUserRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="loginUserResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="relevantUsers">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="relevantUsersRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="relevantUsersResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="LambdaWebServiceService">

        <wsdl:port binding="impl:LambdaWebServiceSoapBinding" name="LambdaWebService">

            <wsdlsoap:address location="http://nogai.dlinkddns.com:8080/services/LambdaWebService"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
