src/webclient/LambdaWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lambda" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lambda" xmlns:intf="http://lambda" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lambda" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="relevantUsers">
    <complexType>
     <sequence>
      <element name="type" type="xsd:string"/>
      <element name="serviceName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="relevantUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="relevantUsersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginUser">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="userType" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element maxOccurs="unbounded" name="services" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginUserResponse">
    <complexType>
     <sequence>
      <element name="loginUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutUser">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutUserResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="logoutUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="logoutUserRequest">

      <wsdl:part element="impl:logoutUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="relevantUsersRequest">

      <wsdl:part element="impl:relevantUsers" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="loginUserResponse">

      <wsdl:part element="impl:loginUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="logoutUserResponse">

      <wsdl:part element="impl:logoutUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="relevantUsersResponse">

      <wsdl:part element="impl:relevantUsersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="loginUserRequest">

      <wsdl:part element="impl:loginUser" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="LambdaWebService">

      <wsdl:operation name="relevantUsers">

         <wsdl:input message="impl:relevantUsersRequest" name="relevantUsersRequest"/>

         <wsdl:output message="impl:relevantUsersResponse" name="relevantUsersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="loginUser">

         <wsdl:input message="impl:loginUserRequest" name="loginUserRequest"/>

         <wsdl:output message="impl:loginUserResponse" name="loginUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="logoutUser">

         <wsdl:input message="impl:logoutUserRequest" name="logoutUserRequest"/>

         <wsdl:output message="impl:logoutUserResponse" name="logoutUserResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LambdaWebServiceSoapBinding" type="impl:LambdaWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="relevantUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="relevantUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="relevantUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loginUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logoutUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LambdaWebServiceService">

      <wsdl:port binding="impl:LambdaWebServiceSoapBinding" name="LambdaWebService">

         <wsdlsoap:address location="http://nogai.dlinkddns.com:8080/services/LambdaWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
